@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
}

#wrapper{
    height: 100vh;
    overflow-x: hidden ;
    overflow-y: auto;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.logo{
    width: 80px;
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo-text{
    margin-left: -1.2rem;
    font-size: 28px;
}

.nav-items{
    display: flex;
    gap:2rem;
    padding: 0 4em;
}
.nav-items a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 20px;
    transition: font-weight 0.2s;
}

.nav-items a:hover{
    font-weight: bold;
}

.hero-section{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
    position: relative;
}

.hero-section-left{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap:2rem;
}

.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role{
    color: #4e45d5;
    font-weight: 800;
    margin-left:1rem;
}

.hero-section-sub-heading{
    font-size: 35px;
    color: #343d68;
    /* line-height: 45px; */
    font-weight:45px;

}

.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.pink-bttn{
    background-color:#e84949 ;
    width: fit-content;
    padding:0.8rem 2.3rem;
    color: aliceblue;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 5px 5px 5px grey;
    border: solid 3px #e84949;
    position: relative;
    z-index: 1;
}

.pink-bttn::before{
    content:'';
    background-color:aliceblue;
    top:0;
    right:0;
    left:0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition-duration: 0.5s;

}

.pink-bttn:hover::before{
    transform: scaleX(1);
}

.pink-bttn:hover{
    border: solid 3px #e84949;
    color: black;
}

.hero-section-right{
    position: relative;
}
.user-image img{
    filter: grayscale(1);
    padding: 2.5rem;
    animation: scaling 5s infinite ease-in-out;
}

@keyframes scaling{
    0%{
        filter: grayscale(0);
        transform:scale(1);
    }

    50%{
        filter: grayscale(1);
        transform: scale(1.1);
        box-shadow: 3px 3px 10px gray;
    }

    100%{
        filter: grayscale(0);
        transform: scale(1);
    }
}

.absolute{
    position: absolute;
}

.circle{
    left:0;
    bottom:0;
    animation: circle 6s infinite linear;
}
@keyframes circle{
    50%{
        left:5%;
        bottom:10%;
    }
}

.cube{
    top:-0.8em;
    right:1em;
    animation: cube 4s infinite linear;
}
@keyframes cube{
    50%{
        transform:  rotateY(180deg) translateY(-12px);
    }
}
.dots{
    bottom:-1rem;
    right:0;
    animation: dots 5s infinite;
}
@keyframes dots{
    50%{
        transform: translateY(-20px);
    }
}

.plus{
    top:-0.8rem;
    left: 50%;
    animation: plus 4s infinite;
}
@keyframes plus{
    50%{
        top:3%;
        left:48%
    }
}

.zigzag{
    top:1.5em;
    left:-0.3em;
    animation: zigzag 5s infinite;
}
@keyframes zigzag{
    50%{
        transform: translateX(40px);
    }
}

.faded-text{
    position: absolute;
    user-select:none;
    font-size: 7em;
    color:rgb(231,231,231);
    
    bottom: -16%;
    left:-3%;
    font-weight: bold;
}


.project-section{
    width:100%;
    background-color: rgb(231,231,231);
    margin-top:4rem;
}
.project-heading{
    color:#e84949;
    font-size: 90px;
    padding-top: 30px;
    text-align: center;
}

.project-container{
    max-width:1200px;
    display:flex;
    flex-direction: column;
    margin:0 auto;
    gap:120px;
    padding: 3rem 0;
}

.project-card{
    width:90%;
    height:550px;
    background-image: url(./images/projects/Project1.png);
    background-size: cover;
    position: relative;
    box-shadow:0px 0px 40px #1f1f1f;
}

.project-card::before{
    content: '';
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    position: absolute;
    background-color:#1f1f1f9a;
    z-index:0;
}

.project-card::after{
    content: '';
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    position: absolute;
    background:linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.4s;
    z-index:1;
}
.project-card:hover::after{
    transform:scaleX(1);
}

.project-no{
    font-size:200px;
    font-weight:600;
    color:white;
    position: absolute;
    z-index:10;
    opacity:0;
}

.project-card:hover .project-no{
    opacity:1;
}

.project-no-right{
    right:-40px;
    top:-45px;
}

.project-no-left{
    left:-40px;
    top:-45px;
}

.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    gap:1em;
    padding: 2em;
    bottom: 20%;
    z-index:5;
    transition: transform 0.5s;
}

.project-content-left{ 
    left:10%;
}

.project-content-right{ 
    right:10%;
}

.project-skills-container{
    width: 60%;
    gap:10px;
    display: flex;
    flex-wrap: wrap;
}
.project-skill{
    width:40px;
}

.project-content-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.project-content-description{
    font-style: italic;
    font-size: 16px;
    width: 70%;
}
.btn-project{
    box-shadow: none;
}

.btn-project:hover{
    border:none;
    padding:0.95rem 2.4rem;
    /* transform: scale(1.05); */
}
#project1{
    background-image: url(./images/projects/Project1.png);
}

#project2{
    margin-left:120px;
    background-image: url(./images/projects/Project2.png);
}
#project3{
    background-image: url(./images/projects/Project3.png);
}
#project4{
    margin-left:120px;
    background-image: url(./images/projects/Project4.png);
}

.project-card:hover .project-content{
    transform: scale(1.1);
}

.skills-section{
    position: relative;
    display:flex;
    margin:10rem auto;
    gap:30px;
    padding:5rem;
}

.skills-section-left{
    width:50%;
    display: flex;
    flex-direction: column;

}
.skills-section-right{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width:50%;
    gap:2rem;
    justify-content: center;
}
.skills-faded{
    font-size: 15em;
    font-style: bold;
    color:rgb(231,231,231);
    user-select: none;
    position: absolute;
    bottom:-37%;
    right:-25%;
    overflow: hidden;
}

.skills-logo{
    width:90px;
    height: 90px;
    z-index: 5;
}
.skills-logo:hover{
    transform: scale(1.1);
}
.blob-style{
    position: absolute;
    z-index: -2;
    top: 20%;
    left:25%;
    animation: blobAnimate 3s linear infinite;
}

@keyframes blobAnimate {
    50%{
      top:25%;
      left:18%;
    }
  }
  .skill-heading h2{
    font-size:50px;
    font-style: bold;
    color: #e84949;
    line-height: 50px;
  }

  .skill-heading span{
    font-size:90px;
  }

  .skill-sub-heading {
    margin-top: 1rem;
    width:85%;
    text-align: justify; 
    /* note this prop */
  }
  .skill-sub-heading p{
    margin:15px 0;
  }

  .contact-me{
    width: 100%;
    background-color: rgb(231,231,231);
    padding: 2rem 0;
  }


  .contact-topic{
    text-align: left;
  }

  .contact-heading{
    font-size:5em;
  color:#e84949;
  }
.contact-subheading{
    font-size:3rem;
  color:#343d68aa;
  text-transform: capitalize;
}


form{
    display: flex;
    flex-direction: column;
    margin: 3rem;
    margin-left: 15%;
    width: 75%;
    justify-content: center;
}
.form-button{
    margin-top: 20px;
}
  .formfield{
    height:42px;
    border-radius: 5px;
    border:none;
    box-shadow:2px 2px 10px #1f1f1f;
    padding: 0 2rem;
    font-size: 18px;
    font-weight: 500;
    margin-top: 27px;
  }

  .formfield-textarea{
    height:auto;
    padding-top:1rem;
  }